Package: com.brend0n.fgotw60fps
Name: Unity60FPS
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 0.1.4~b1
Architecture: iphoneos-arm
Description: Force Unity Games/Apps render at custom framerate(60/30)
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
Depiction: http://brendonjkding.github.io/depictions/web/?p=com.brend0n.fgotw60fps
SileoDepiction: http://brendonjkding.github.io/depictions/web/com.brend0n.fgotw60fps/depiction.json
